<h1>Pokemons</h1>

<a href="/pokemons/new">New Pokemon</a>

<br>
<br>
<br>
<br>
<br>

<% @pokemons.each do |pokemon|%>

  <div class = 'each-Pokemon' data-id="<%=pokemon.id%>">
    <p>

      <%= pokemon.name %>
      <a href="/pokemons/<%=pokemon.id%>">
          <img src ="<%=pokemon.image_url%>">
      </a>


        <form action="/likes" method= 'post'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name ="pokemon_id" value = '<%=pokemon.id%>'>
          <button>like pokemon</button>
        </form>


        <button class = 'js-like'>js_like Pokemon</button>


        <p>likes: <span class = 'likes-count'><%= pokemon.likes.count %></span></p>


        <form action="/pokemons/<%= pokemon.id %>" method = "post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden"  name = "_method" value = "delete">
          <button>delete</button>
        </form>

    </p>
  </div>
  <br>
  <br>
  <br>

<%end%>



<script>

$('.js-like').on('click', function(event){

   var $pokemonDiv = $(event.target).closest('.each-Pokemon');
   var pokemonId = $pokemonDiv.data('id');
   var $likeCountSpan =  $pokemonDiv.find('.likes-count');

  $.ajax( {
    url: 'api/likes',
    data: {pokemon_id: pokemonId},
    method: 'post'
    } ).done(function(response){
    $likeCountSpan.html(response.like_count);
  })
});

</script>
